# Ignore le fichier de connexion MySQL
config/db.php

# (optionnel) ignorer aussi les fichiers d'environnement
*.env
# macOS
.DS_Store

# Éditeurs
.vscode/
.idea/

# Python / Node (si jamais utilisés)
__pycache__/
*.log
.env
node_modules/
